
main {
    padding-top: 120px;
    background-image: linear-gradient(to right, 
    #DFD8CB 0%,
    #DFD8CB 20%,
    #f1eadb 100%);
    width: 100%;
}

@media only screen and (min-width:768px) {

    main {
        padding-top: 200px;
    }
}

@media only screen and (min-width:1200px) {

    main {
        padding-top: 200px;
    }
}

